project:
  type: website
  output-dir: _site

website:
  title: "Tobias Dienlin"
  site-url: "https://tdienlin.github.io"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: blog.qmd
        text: Blog

format:
  html:
    theme: cosmo